.App {
    text-align: center;
}

.App {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
    text-transform: uppercase;
}

.App-header {
    margin: 20px 0;
}

.App-link {
    color: #61dafb;
}

.Fixtures .Row {
    padding: 15px 0;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* 5px rounded corners */
}

.Fixtures .Row:hover {
    background: linear-gradient(270deg, #ff2882, #963cff 45%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
    color: #fff;
}

.Row .Date {
    margin-bottom: 20px;
    font-size: 18px;
}

.Row .Date span {
    margin: 10px 20px 15px 0;
    font-size: 14px;
    color: white;
    background: #37003c;
    padding: 5px;
}

.Fixture {
    display: grid;
    grid-auto-flow: column;
    text-transform: capitalize;
    justify-content: center;
    grid-auto-columns: 3fr 0.5fr 3fr;
}

.Fixture .Team {
    margin: 0 10px;
}

.Home {
    justify-self: end;
}

.Away {
    justify-self: start;
}

.Score-Wrapper {
    display: flex;
}

.Fixture .Score,
.Fixture .Time {
    padding: 0 10px;
    background: #37003c;
    min-width: 50px;
    color: white;
    border: 1px solid white;
    justify-self: center;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.LeagueTableRow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.LeagueTableRow td {
    padding: 20px 0;
    min-width: 80px;
    border: none;
}

.LeagueTableRow:hover {
    background: linear-gradient(270deg, #ff2882, #963cff 45%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
    color: #fff;
}

.LeagueTableRow:hover a {
    color: white;
}

td a {
    text-decoration: none;
    color: black;
}
